@using Microsoft.JSInterop
@inject IJSRuntime js
@if (Activator!=null)
{
<div @onclick="ActivateDialog" class="@ActivatorClass" style="@ActivatorStyle">
    @Activator
</div>
}
@if (DialogState == DialogStateEnum.ToBeActivated || DialogState == DialogStateEnum.Activated)
{
    <dialog @key="@DialogId" @onmousedown="OnBackDropClick" id="@DialogId" class="@DialogClass" style="padding:0px;max-height: calc(100vh - 20px);@(DialogStyle)" onmousewheel="(e)=>e.preventDefault()">
        <div @onmousedown:stopPropagation="true" style="display:flex; flex-direction:column; max-width:90vw; max-height: calc(100vh - 20px);">
            @if (!NoTitleBar)
            {
                <div style="flex: 0 1 auto; background-color:#00000010;; border-bottom: 1px solid #00000040; display:flex; align-items:center; padding-left: @(Padding); padding-right: 10px; line-height:2rem;">
                    @Title
                    <div style="flex-grow:1;"></div>
                    <div style="display: flex; align-items:center; gap:10px;">
                        @TitleBarContent
                        @if(ShowCloseButtonOnTitlebar)
                        {
                            <button type="button" @onclick="DeactivateDialog" style="border:none; outline:none; background-color:transparent; padding:4px; font-size:16px; cursor: pointer;">✖</button>
                        }
                    </div>
                </div>
            }
            <div style="padding:@(Padding);flex: 1 1 auto; overflow-y:auto;">
                @ChildContent
            </div>
            @if (FooterContent!=null)
            {
                <CascadingValue Value="DeactivateDialog" Name="@nameof(DeactivateDialog)">
                    <div style="flex: 0 1; background-color:#00000010;; padding:4px @(Padding) 4px @(Padding); border-top:1px solid #00000040;">
                        @FooterContent
                    </div>
                </CascadingValue>
            }
        </div>
    </dialog>
}

@code{
    [Parameter]
    public RenderFragment? Activator { get; set; }

    [Parameter]
    public RenderFragment? TitleBarContent { get; set; }

    [Parameter]
    public EventCallback BeforeActivation { get; set; }

    [Parameter]
    public EventCallback AfterDeactivation { get; set; }

    [Parameter]
    public string ActivatorStyle { get; set; } = "width:fit-content;";

    [Parameter]
    public string? ActivatorClass { get; set; }

    [Parameter]
    public string DialogStyle { get; set; } = "width:fit-content;";

    [Parameter]
    public string? DialogClass { get; set; }

    [Parameter]
    public string Padding { get; set; } = "10px";

    [Parameter]
    public string? Title { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment ChildContent{ get; set; }

    [Parameter]
    public RenderFragment? Deactivator { get; set; }

    [Parameter]
    public RenderFragment? FooterContent { get; set; }

    [Parameter]
    public bool NoTitleBar { get; set; } = false;

    [Parameter]
    public bool ShowCloseButtonOnTitlebar { get; set; } = true;

    [Parameter]
    public bool CloseOnBackdropClick { get; set; } = false;

    private enum DialogStateEnum
    {
        Deactivated = 0,
        ToBeActivated = 1,
        Activated = 2
    }
    private DialogStateEnum DialogState = DialogStateEnum.Deactivated;

    private string DialogId = "dialog_" + Guid.NewGuid().ToString();

    private async Task OnBackDropClick()
    {
        if (!CloseOnBackdropClick) return;
        await DeactivateDialog();
    }
    protected override void OnInitialized()
    {
        if (Activator == null)
            DialogState = DialogStateEnum.ToBeActivated;

        base.OnInitialized();
    }

    public async Task ActivateDialog()
    {
        if (BeforeActivation.HasDelegate) await BeforeActivation.InvokeAsync();
        DialogState = DialogStateEnum.ToBeActivated;
        await InvokeAsync(StateHasChanged);
    }
    public async Task DeactivateDialog()
    {
        DialogState = DialogStateEnum.Deactivated;
        await InvokeAsync(StateHasChanged);
        if (AfterDeactivation.HasDelegate) await AfterDeactivation.InvokeAsync();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (DialogState == DialogStateEnum.ToBeActivated)
        {
            DialogState = DialogStateEnum.Activated;
            await js.InvokeVoidAsync("eval", $"document.getElementById('{DialogId}').showModal();");
        }
    }
    public async Task ShowJavascriptMessageAsync(string message)
    {
        await js.InvokeVoidAsync("alert", message);
    }
}